{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block title %}{{ SITENAME }} &middot; {{ article.title }}{% endblock %}
{% block content %}
{% include "article_stub.html" %}
{% endblock %}
