{# Use PAGINATION_PATTERNS or pagination may break #}
{% if DEFAULT_PAGINATION and (articles_page.has_previous() or articles_page.has_next()) %}

                <div class="clear"></div>
                <div class="pages">

                {% if articles_page.has_previous() %}
                    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="prev_page">&larr;&nbsp;Previous</a>
                {% endif %}

                {% if articles_page.has_next() %}
                    <a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="next_page">Next&nbsp;&rarr;</a>
                {% endif %}

                    <span>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
                </div>
{% endif %}
